@model List<FotosProdutoModel>

<table class="display" style="width:100%" id="table-fotos-produtos">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (FotosProdutoModel fotosProduto in Model)
            {
                <tr>
                    <th scope="row">@fotosProduto.Id</th>
                    <td>@fotosProduto.Produto.Nome</td>
                    <td>@fotosProduto.Descricao</td>
                    <td><button type="button" class="btn btn-danger">X</button></td>
                </tr>
            }
        }
    </tbody>
</table>
